body {
  font-family: "Lora", serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 80px;
  font-size: 20px;
}

.navbar-brand {
  font-size: 50px;
  padding: 10px;
}

.nav-item {
  padding: 40px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}

.header {
  position: relative;
}

.hero-image {
  height: 30vh;
  width: 100%;
  background-image: url("../img/italian-bg.png");
  background-size: cover;
  background-position: center;
}

.menu {
  padding-top: 5rem;
}

.menu-item {
  margin-bottom: 2rem;
}

.login {
  margin: 10px;
}

.cart-img {
  width: 35%;
  margin-left: 20px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev {
  left: -200px;
}

.carousel-control-next {
  right: -200px;
}

.carousel-item {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 1s;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}


/* Iritzi panela erabiltzeko estiloa */


/* .balorazioa {
  direction: rtl;
  unicode-bidi: bidi-override;
  display: inline-flex;
  font-size: 2em;
}

.balorazioa > label {
  color: #ddd;
  cursor: pointer;
}

.balorazioa > input:checked ~ label {
  color: #f5b301;
}

.balorazioa > input {
  display: none;
}

.balorazioa > label:hover,
.balorazioa > label:hover ~ label {
  color: #f5b301;
} */