{% extends 'base.html' %}
{% load static %}

{% block content %} 

  {% csrf_token %}
  
  <h1 class="text-center">Kaixo: {{ user_profile.username }}</h1>

  <div class="d-flex justify-content-center align-items-center vh-50">
    <a href="{% url 'bezeroak-list' %}"><button class="btn btn-primary mx-2">Bezeroak kudeatu</button></a>
    <a href="{% url 'produktuak-list' %}"><button class="btn btn-primary mx-2">Produktuak kudeatu</button></a>
    <button class="btn btn-primary mx-2">Eskariak kudeatu</button>
    <a href="{% url 'alergeno-list' %}"><button class="btn btn-primary mx-2">Alergenoak kudeatu</button></a>
    <a href="{% url 'iritziak-list' %}"><button class="btn btn-primary mx-2">Iritziak kudeatu</button></a>
  </div>

  <!-- Sección para el gráfico de productos -->
  <h2 class="text-center mt-5">Grafikoak</h2>
  <div class="container">
    <canvas id="graficoProductos" width="400" height="200"></canvas>
  </div>

  <!-- Incluir Chart.js desde CDN -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    // Usamos los datos que se pasan desde la vista para el gráfico
    const nombres = {{ nombres|safe }};
    const stock = {{ stock|safe }};
    const precios = {{ precios|safe }};
    
    const ctx = document.getElementById('graficoProductos').getContext('2d');
    
    const graficoProductos = new Chart(ctx, {
      type: 'bar', // Tipo de gráfico (barras)
      data: {
        labels: nombres, // Etiquetas para cada barra (nombres de los productos)
        datasets: [{
          label: 'Produktuen Stocka',
          data: stock, // Valores de stock
          backgroundColor: 'rgba(75, 192, 192, 0.5)', // Color de las barras de stock
          borderColor: 'rgba(75, 192, 192, 1)', // Color de los bordes de las barras
          borderWidth: 1
        }, {
          label: 'Produktuen prezioak',
          data: precios, // Valores de precios
          backgroundColor: 'rgba(255, 99, 132, 0.5)', // Color de las barras de precios
          borderColor: 'rgba(255, 99, 132, 1)', // Color de los bordes de las barras
          borderWidth: 1
        }]
      },
      options: {
        responsive: true, // Hace que el gráfico sea responsivo
        scales: {
          y: {
            beginAtZero: true // Hace que el eje Y empiece desde 0
          }
        }
      }
    });
  </script>

{% endblock %}
