{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-5">
      <img src="{% static 'img/pasta.png' %}" class="img-fluid rounded" alt="Carbonara Pasta" />
    </div>
    <div class="col-md-7">
      <h2>Carbonara Pasta</h2>
      <p>Pasta plater ospetsu italiarra, krematsua eta zaporetsua. Plater simple baina goxoa, tradizioa eta zaporea plater bakarrean uztartzen dituena.</p>
      <div class="my-3">
        <img src="{% static 'img/gluten.png' %}" style="width: 40px; height: 40px; margin-right: 10px;" alt="Gluten Free">
        <img src="{% static 'img/huevos.png' %}" style="width: 40px; height: 40px; margin-right: 10px;" alt="Contains Eggs">
        <img src="{% static 'img/lacteos.png' %}" style="width: 40px; height: 40px; margin-right: 10px;" alt="Contains Dairy">
        <img src="{% static 'img/soja.png' %}" style="width: 40px; height: 40px; margin-right: 10px;" alt="Contains Soy">
      </div>
      <h3 class="my-4">15.99€</h3>
      <div class="d-flex align-items-center">
        <button class="btn btn-outline-dark">-</button>
        <span class="mx-3">1</span>
        <button class="btn btn-outline-dark">+</button>
        <button class="btn btn-danger ml-3">
          <img src="{% static 'img/cart.png' %}" width="20px" alt="Add to Cart" />
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
