{% extends 'base.html' %}
{% load static %}
{% block content %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/menu.js' %}"></script>
  <script type="text/javascript">
    var staticUrl = "{% static '' %}"
  </script>
  <div class="hero-image"></div>
  <section class="hero py-3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="{% static 'img/pasta.png' %}" alt="Plato de Pasta" class="img-fluid rounded" />
        </div>
        <div class="col-md-6">
          <h2 class="display-4">Italiar Janaria</h2>
          <p>Gozatu gure plater tradizionalez zure etxeko erosotasunean.</p>
          <a class="btn btn-danger btn-lg">Eskatu</a>
        </div>
      </div>
    </div>
  </section>
  <section id="menu" class="menu py-5 mx-5">
    <div class="container-fluid">
      <h2 class="display-4">Menua</h2>
      <div class="row mt-4" id="menu-items">
        {% comment %}AJAX{% endcomment %}
      </div>
    </div>
  </section>
{% endblock %}
