<html>
  <body>
    {% extends 'base.html' %}
    {% block content %}
      <section class="login-section py-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card p-4 shadow">
                <h2 class="text-center mb-4">Kontua egiaztatu</h2>
                {% if success %}
                  <p style="color: green">{{ success }}</p>
                {% endif %}
                {% if error %}
                  <p style="color: red">{{ error }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endblock %}
  </body>
</html>
